<div class="container">

  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <mat-card class="login-container">
      <mat-card-title class="text-center title">Login</mat-card-title>

      <mat-form-field>
        <input matInput type="email" placeholder="Insira seu endereço de e-mail" formControlName="email" />
        <mat-error *ngIf="loginForm.controls.email.errors?.required && loginForm.controls.email.touched">
          O email é obrigatório
        </mat-error>
        <mat-error *ngIf="loginForm.controls.email.errors?.email && loginForm.controls.email.touched">
          O email inserido é inválido
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput [type]="hide ? 'password' : 'text'" placeholder="Insira sua senha" formControlName="password" />
        <mat-icon matSuffix (click)="hide = !hide" class="outline">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-error *ngIf="loginForm.controls.password.errors?.required">
          A senha é obrigatória
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid"
        class="button1">Entrar</button>
      <button mat-raised-button color="secondary" type="button" (click)="addUser()" class="button2">Criar
        usuário</button>
    </mat-card>
  </form>

</div>